
#p1{
    height: 20px;
    width: 20px;
    background-color: rgba(128, 128, 128, 0.425);
    border: solid 1px white;
}
#p2{
    height: 20px;
    width: 40px;
    background-color: rgba(128, 128, 128, 0.425);
    border: solid 1px white;
}
#p3{
    height: 20px;
    width: 40px;
    background-color: rgba(128, 128, 128, 0.425);
    border: solid 1px white;
}
#p4{
    height: 20px;
    width: 40px;
    background-color: rgba(128, 128, 128, 0.425);
    border: solid 1px white;
}
#p5{
    height: 20px;
    width: 40px;
    background-color: rgba(128, 128, 128, 0.425);
    border: solid 1px white;
}
#p6{
    height: 20px;
    width: 40px;
    background-color: rgba(128, 128, 128, 0.425);
    border: solid 1px white;
}

/* .row{
    margin: 1px;
} */